body {
	background-color: #111518;
}

.wrapper {
	/* Centers the content */
	margin-right: auto;
	margin-left: auto;
	
	/* Sets the absolute max width of the content to 960px */
	max-width: 960px;
	
	/* Will leave tiny gap when browser too small */
	padding-left: 10px;
	padding-right: 10px;
}

#header{
	color: white;
	background-color: grey;
}

#menubar {
	background-color: darkgray;
}

li {
	display: inline;
	float: left;
}

li a:hover {
	background-color: red;
}

li .active {
	background-color: white;
}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	display: block;
	padding: 10px;
	background-color: darkgray;
}

/* 
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	width: 60px;
	background-color: white;
}

li .active {
	background-color: red;
}
*/
.menu {
	float: left;
	background-color: darkgrey;
	color: white; 
}


